<style>
    .product-image {
        width: 400px;
        height: 400px;
        object-fit: cover;
        margin-right: 40px;
    }

    .product-container {
        display: flex;
        justify-content: space-between;
    }

    .product-details {
        flex: 1;
    }

    .product-details__name {
        column-span: all;
    }

    .product-details__item {
        display: flex;
        justify-content: space-between;
    }

    .product-buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* Adds a top margin */
    }

    .product-button {
        background-color: black; 
        color: white;
        border: none;
        padding: 10px 20px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .discount-badge {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #f00; 
        color: #fff; 
        padding: 5px;
    }

</style>

@model Product


<div class="product-container">
    <div style="position: relative;">
        <img class="product-image" src="@Url.Content(Model.ProductImages.First().ImagePath)" alt="@Model.Name" />
        @if (Model.ProductPriceDiscount.Discount > 0)
        {
            <div class="discount-badge" style="position: absolute; bottom: 0; left: 0;">
                <i class="fa fa-percent" aria-hidden="true"></i>
                @Html.DisplayFor(modelItem => Model.ProductPriceDiscount.Discount)
            </div>
        }
    </div>
    <div class="product-details">
        <h2 class="product-details__name">@Html.DisplayFor(model => model.Name)</h2>
        <div class="product-details__item">
            <span>Опис:</span>
            <span>@Html.DisplayFor(model => model.Description)</span>
        </div>
        <div class="product-details__item">
            <span>Тип товару:</span>
            <span>@Html.DisplayFor(model => Model.Type.Name)</span>
        </div>
        <div class="product-details__item">
            <span>Бренд:</span>
            <span>@Html.DisplayFor(model => Model.Brand.Name)</span>
        </div>
        <div class="product-details__item">
            <span>Ціна:</span>
            @if (Model.ProductPriceDiscount.Discount > 0)
            {
                <span>
                    <del>@Html.DisplayFor(modelItem => Model.ProductPriceDiscount.Price)</del>
                    @Model.ProductPriceDiscount.GetDiscountedPrice()
                </span>
            }
            else
            {
                <span>@Html.DisplayFor(modelItem => Model.ProductPriceDiscount.Price)</span>
            }
        </div>
        <div class="product-details__item">
            <span>Кількість в упаковці:</span>
            <span>@Html.DisplayFor(modelItem => Model.ProductQuantityInPack.Quantity)</span>
        </div>
    </div>
</div>

<div class="product-buttons">
    <a class="product-button" href="@Url.Action("Buy", "Order", new { id = Model.Id })"><i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i> Купити</a>
    <a class="product-button" href="@Url.Action("Reserve", "Reservation", new { id = Model.Id })"><i class="fa fa-gavel fa-2x" aria-hidden="true"></i> Забронювати</a>
</div>


